@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-crayon-red: #EE1D48;
  --color-white: #FFFFFF;
  --color-grey: #E2E8F0;
  --color-black: #000000;
}

html {
  scrollbar-gutter: stable;
}